body {
    background: rgb(34,193,195);
    background: linear-gradient(
      90deg,
      rgba(34,193,195,1) 0%,
     
      rgba(253,187,45,1) 82%);
    
    text-align: center;
    font-family:"Josefin", sans-serif;
    
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;

  }
  
  .pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 60px;
  }
  
  .pokemon-block,
  .pokemon-block-back {
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  }
  
  .img-container {
    background-image: url("./blob.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .img-poke{
    height: 20rem;
  }
  
  .pokemon-block p {
    margin: 20px;
  }
  
  .name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.8rem;
  }


  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .card-container {
    transform: rotateY(180deg);
  }
  
  
  .pokemon-block,
  .pokemon-block-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
  }
  
